/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* 
  *** Colors ***
  WHITE: #FEFEFE
  BLACK: #000000 ** update this black value
  TEXT INPUT BACKGROUND: #EEEEEE
  ADD BUTTON: #FFCC68
  DELETE BUTTON: #FF9548
  CHORE: #FBDF7C
  */
  --clr-white: #FEFEFE;
  --clr-black: #000000;
  --clr-light-gray: #EEEEEE;
  --clr-yellow: #FFCC68;
  --clr-light-yellow: #FBDF7C;
  --clr-orange: #FF9548;
  --clr-orange-red: #ff4602;
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.19856);
  /*
  *** Fonts ***
    h1
    font-family: 'Concert One', cursive;
    body, buttons, lis, input placeholer
    font-family: 'Inter', sans-serif;
  */
  --ff-heading: 'Concert One', cursive;
  --ff-body: 'Inter', sans-serif;
  /* font sizes */
  --fs-body: 1.875rem;
  --fs-heading: 4.375rem;
}


/* ======================== */
/* Reset and General Styles */
/* ======================== */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--ff-body);
  font-size: var(--fs-body);

  background-image: linear-gradient(
    45deg,
    hsl(240deg 21% 36%) 0%,
    hsl(240deg 18% 42%) 11%,
    hsl(239deg 16% 47%) 22%,
    hsl(239deg 17% 53%) 33%,
    hsl(239deg 19% 59%) 44%,
    hsl(238deg 23% 65%) 56%,
    hsl(237deg 28% 71%) 67%,
    hsl(237deg 36% 77%) 78%,
    hsl(236deg 49% 83%) 89%,
    hsl(236deg 81% 90%) 100%
  );
}

.container {
  margin-inline: auto;
  text-align: center;
}


h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
}

.choreslist-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.chore-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.chore-input {
  padding: 0.25em;
  border: none;
  border-radius: 10px;
  background: var(--clr-light-gray);
}

.chore-input::placeholder {
  font-size: 1.5rem;
}

button.button {
  padding: 0 .5em;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.add {
  background-color: var(--clr-yellow);
}

button.delete-all {
  background-color: var(--clr-orange);
}

button.button:focus,
.chore-input:focus {
  outline-color: var(--clr-orange-red);
  outline-style: solid;
  outline-width: 3px;
}

/* Chores list styles */
.chores-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.chore {
  padding: 0.5em 0;
  background: var(--clr-light-yellow);
  border-radius: 10px;
}

.chore:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
}