/* ----------------- */
/* Custom Properties */
/* ----------------- */
:root {
  /* Colors */
  --clr-white: #FEFEFE;
  --clr-black: #000000;
  --clr-light-gray: #EEEEEE;
  --clr-yellow: #FFCC68;
  --clr-light-yellow: #FBDF7C;
  --clr-orange: #FF9548;
  --clr-purple: #a239d7;
  --clr-warning: #f24040;
  --box-shadow: 0px 20px 20px -10px rgba(201, 213, 225, 0.5);
  /* fonts */
  --ff-heading: 'Concert One', cursive;
  --ff-body: 'Inter', sans-serif;
  /* font sizes */
  --fs-body: 1.875rem;
  --fs-heading: 4.375rem;
  --fs-message: 1.5rem;
}

/* ======================== */
/* Reset and General Styles */
/* ======================== */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  min-height: 100%;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  padding: 0 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-body);
  font-size: var(--fs-body);

  background-image: linear-gradient(
    45deg,
    hsl(240deg 25% 51%) 0%,
    hsl(240deg 26% 55%) 11%,
    hsl(239deg 28% 59%) 22%,
    hsl(239deg 30% 63%) 33%,
    hsl(239deg 33% 68%) 44%,
    hsl(238deg 37% 72%) 56%,
    hsl(237deg 41% 76%) 67%,
    hsl(237deg 48% 81%) 78%,
    hsl(236deg 60% 85%) 89%,
    hsl(236deg 81% 90%) 100%
  );
}

.container {
  margin-inline: auto;
  padding-top: 1em;
  text-align: center;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  line-height: 1;
}

/* message container styles */
.message-container {
  min-height: 5vh;
  padding: 0.25em 0;
}

.message {
  font-size: var(--fs-message);
  color: var(--clr-warning);
  display: none;
}

/* chore form styles */
.chore-form {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.chore-input {
  width: 100%;
  padding: 0.5em 0.25em;
  border: none;
  border-radius: 10px;
  background: var(--clr-light-gray);
}

.chore-input::placeholder {
  font-size: 1.25rem;
}

button.button {
  padding: 0 .5em;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.add {
  background-color: var(--clr-yellow);
}

button.add:hover {
  color: green;
}

button.delete-all {
  background-color: var(--clr-orange);
}

button.delete-all:hover {
  color: red;
}

button.button:focus,
.chore-input:focus {
  outline-color: var(--clr-purple);
  outline-style: solid;
  outline-width: 3px;
}

/* Chores list styles */
.chores-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.chore {
  padding: 0.5em 0;
  background: var(--clr-light-yellow);
  border-radius: 10px;
}

.chore:hover {
  cursor: pointer;
  color: var(--clr-warning);
  box-shadow: var(--box-shadow);
}

/* Success gif styles */
.gif-container {
  display: inline-flex;
}

.success-gif {
  margin-inline: auto;
  border: 5px solid var(--clr-orange);
  border-radius: 5px;
  object-fit: contain;
  overflow: hidden;
}

.success-gif:hover {
  cursor: pointer;
}